* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0px 0px 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    background-color: #e6e2e2;
    transition: transform 0.2s ease;
}

.box.clicked {
    transform: scale(1.1);
}

.win-box {
    background-color: yellow;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    from { box-shadow: 0px 0px 15px yellow; }
    to { box-shadow: 0px 0px 30px orange; }
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
    margin-top: 1rem;
}

#newGame-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}

.msg-container {
    padding-top: 1rem;
}

#msg {
    font-size: 2rem;
    font-weight: 1000;
    margin-bottom: 1rem;
    color: yellow;
}

.hide {
    display: none;
}
